<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tests ESGI</title>
  <link rel="stylesheet" href="styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
</head>
<body>
  <header>
    <h1>ESGI - Tests unitaires</h1>
  </header>

  <div class="container">

    <div class="block">
      <h2>Liste des citations :</h2>

      <ul class="quotes">
      <% for(var i=0; i<quotes.length; i++) {%>
        <li class="quote">
          <div class="">
            <span><%= quotes[i].name %></span>
            <span><%= quotes[i].quote %></span></div>
          <form action="/update" method="POST" class="updateForm">
            <input type="hidden" value="<%= quotes[i].name %>" name="name">
            <input type="hidden" value="<%= quotes[i].quote %>" name="quote">
            <input type="text" value="<%= quotes[i].name %>" name="newName">
            <input type="text" value="<%= quotes[i].quote %>" name="newQuote">
            <button type="submit">Modifier</button>
            <a class="delete" name="<%= quotes[i].name %>" quote="<%= quotes[i].quote %>" onclick="onDeleteQuote(this)">Supprimer</a>
            </form>
        </li>
      <% } %>
      <% if (error && error == 'update') { %>
        <div class="errorAdd">Vous devez remplir tous les champs</div>
      <% } %>
      </ul>
    </div>

    <div class="block">
      <h2>Ajouter une citation</h2>

      <form action="/quotes" method="POST" class="addQuote">
        <input type="text" placeholder="nom" name="name">
        <input type="text" placeholder="citation" name="quote">
        <button type="submit">Envoyer</button>
        <% if (error && error == 'add') { %>
          <div class="errorAdd">Vous devez remplir tous les champs</div>
        <% } %>
      </form>
    </div>

  <script src="main.js"></script>

</body>
</html>
